<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="row" fxLayoutAlign="center center" class="content">
                <mat-card class="card">
                    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        <h3>Country List</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="countries-container mat-elevation-z8">
                            <mat-table [dataSource]=dataSource #table>
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="flag">
                                    <mat-header-cell *matHeaderCellDef> Flag </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> <img height="100" width="150"
                                            src="{{ element.flag }}" /> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="more">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <a type="button" (click)="openDialog(element)">
                                            <mat-icon class="icon">more_vert</mat-icon>
                                        </a>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                                [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage"
                                (page)="pageEvent = handlePage($event)">
                            </mat-paginator>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
